<header>
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
  <h1><a href='/'><span><strong>Marc</strong> Corrales</span></a></h1>
  <div class='author-info'>
    <div class='block'>
      <p><span itemprop='role'>(Bio) Scientist/Researcher.</span></p>
      <p><span itemprop='role'><i class="fa fa-heart"></i> code / data
 / experiments.</span></p>
    </div>
    <div class='block'>
      <p><i class='fa fa-envelope'></i>
      &nbsp; <a href="mailto:corralesmarc@gmail.com">corralesmarc@gmail.com</a></p>
      <p><i class='fa fa-bookmark'></i>  &nbsp; <a href='https://marccorrales.me/' itemprop='url'>{{ site.url }}</a></p>
      <p><i class='ai ai-cv-square'></i> &nbsp; <a href='{{
      site.cv_url }}' title='Curriculum vitae (pdf)'>Curriculum
          vitae</a></p>
      <p><i class='ai ai-orcid'></i> &nbsp;
        <a href="https://orcid.org/0000-0002-2169-0501">0000-0002-2169-0501</a></p>
      
  </div>
  <div class='social'>
    <a href='https://scholar.google.es/citations?user={{
    site.gscholar.username }}' title='{{ site.title }} in Google Scholar'><i class="ai ai-google-scholar-square ai-3x"></i></a>
    <a href='https://www.linkedin.com/in/{{ site.linkedin.username }}' title='{{ site.title }} on LinkedIn :: https://www.linkedin.com/in/{{ site.linkedin.username }}'><i class='fa fa-3x fa-fw fa-linkedin-square'> </i></a>
    <a href='https://twitter.com/{{ site.twitter.username }}' title='{{ site.title }} on Twitter :: https://twitter.com/{{ site.twitter.username }}'><i class='fa fa-3x fa-fw fa-twitter-square'> </i></a>
    <a href='https://github.com/{{ site.github.username }}/' title='{{ site.title }} on Github :: https://github.com/{{ site.github.username }}/'><i class='fa fa-3x fa-fw fa-github-square'> </i></a>
  </div>
</header>
